.container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1A1A19;
}

.container a{
    margin-left: 10px;
}