mat-sidenav-content{
    background-color: #123458;
}

mat-toolbar{
    color: #F6FCDF;
    height: 60px;
}


/*Desktop*/
@media (min-width: 900px){
    #menuButton{
        display: none;
    }

    #title{
        margin-inline-start: 20px;
    }

    .sideMenuItem{
        display: none;
    }

    mat-sidenav{
        display: none;
    }
}


/*Mobil*/
@media (max-width: 900px){
    .topMenuItem{
        display: none;
    }
}

.sideNavItems{
    display: flexbox;
    flex-direction: column;
}