<div id="container">
    <h2>Regisztráció</h2>
    <form [formGroup]="regForm" (ngSubmit)="reg()">
        <mat-form-field>
            <mat-label>Vezetéknév</mat-label>
            <input matInput type="text" formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Keresztnév</mat-label>
            <input matInput type="text" formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó újra</mat-label>
            <input matInput type="password" formControlName="rePassword">
        </mat-form-field>
        <div>{{this.regError}}</div>
        <button mat-flat-button (click)="reg()">Regisztráció</button>
    </form>
</div>
