<div class="container">
    <div id="title">
        <h2>Üdvözlünk a Zöld Asztal Billiárd Klubban!</h2>
        <p>A Zöld Asztal nem csak egy hely, ahol biliárdozni lehet – nálunk a játék élménnyé válik, a barátokból csapat lesz, és a hétköznapokból kikapcsolódás születik. Hiszünk benne, hogy egy jó biliárdparti többről szól, mint csak a golyók gördítéséről: ez egy közös élmény, egy nyugodt, családias tér, ahol mindenki otthon érezheti magát.</p>
    </div>
    <div>
        <div id="news">
            <h3>Legfrissebb hírek a Zöld Asztalból</h3>
            @for (item of news; track $index) {
                <div>
                    <h4 class="news-title">{{item.title}}</h4>
                    <p>{{item.desc}}</p>
                    <div class="news-date">{{ item.date | dateFormat }}</div>
                </div>
                <mat-divider></mat-divider>
            }
        </div>
        <div id="misc">
            <div>
                <h3>Szolgáltatásaink:</h3>
                <ul>
                    <li>🎱 Biliárdasztalok – Profi felszereltség</li>
                    <li>🎯 Darts – Több tábla, nyilak a helyszínen</li>
                    <li>🕹️ Csocsó – Klasszikus 2v2 kihívások</li>
                    <li>🍹 Italbár – Frissítők, limonádé, kézműves sörök</li>
                    <li>🎉 Rendezvények – Szülinapok, céges bulik</li>
                    <li>🏆 Versenyek – Barátságos bajnokságok</li>
                </ul>
            </div>
            <div>
                <h3>Közelgő események</h3>
                <ul>
                    <li>Április 20. – Amatőr Biliárd Verseny</li>
                    <li>Minden péntek – DJ Est + koktélakció</li>
                </ul>
            </div>
        </div>
    </div>
</div>