/* You can add global styles to this file, and also import other style files */
:root{
    --background-color: #1A1A19;
    --secondary-background: #31511E;
    --font-color: #F6FCDF;
    --third-color: #859F3D;
}

html, body { 
    height: 100%;
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #123458;
    color: var(--font-color);
}

button.foglalt {
    background: red;
    border-radius: 100%;
}
