<div class="container">
    <div class="content-container">
        <div>
            <h2>Egy hely, ahol számít a minőség</h2>
            <p>Teremként különösen figyelünk arra, hogy csúcsminőségű, jól karbantartott biliárdasztalokkal várjuk vendégeinket. Legyen szó kezdő próbálkozásról, komoly edzésről vagy csak egy laza meccsről a haverokkal, nálunk minden adott egy jó játékhoz. A terem világítása, a hangulata és a zene is úgy lett kialakítva, hogy igazi kikapcsolódást nyújtson.</p>
        </div>
        <img src="billiard_table.jpg" alt="" class="images">
    </div>
    <div class="content-container">
        <div>
            <h2>Versenyek és közösség</h2>
            <p>Rendszeresen tartunk barátságos és amatőr versenyeket, amelyek során nem csak a győzelem a fontos, hanem az, hogy jól érezd magad. A Zöld Asztal egy összetartó közösség is, ahol a régi játékosok szívesen fogadják az újakat. Itt könnyen ismerkedhetsz, találkozhatsz más biliárdrajongókkal, és akár új barátságok is szövődhetnek egy-egy meccs mellett.</p>
        </div>
        <img src="trophy.jpg" alt="" class="images">
    </div>
    <div class="content-container">
        <div>
            <h2>Több mint biliárd</h2>
            <div id="morethan">
                <p>Bár a biliárd a főszereplő, nálunk más játékokra is van lehetőség:</p>
                <ul>
                    <li>Darts tábláink várják a célra törő kezeket,</li>
                    <li>egy hangulatos csocsóasztal is a rendelkezésedre áll,</li>
                    <li>a háttérben pedig kellemes zene gondoskodik a jó hangulatról.</li>
                </ul>
                <p>Mindezek mellett bárpultunkban finom italokat, üdítőket és harapnivalókat kínálunk – legyen szó egy friss sörről, egy hűs limonádéról vagy egy kávéról, hogy újult erővel vágj bele a következő körbe.</p>
            </div>
        </div>
        <img src="darts.jpg" alt="">
    </div>
    <div class="content-container">
        <div>
            <h2>Rendezvényekre is ideális</h2>
            <p>A Zöld Asztal külön helyiségei születésnapok, baráti összejövetelek, céges csapatépítők vagy akár kisebb versenyek számára is bérelhetők. Igény szerint italcsomagokat, játékidőt, sőt, még saját mini bajnokságot is szervezünk – csak szólj időben, és megvalósítjuk!</p>
        </div>
        <img src="party.jpg" alt="">
    </div>
    <div class="content-container">
        <div>
            <h2>Nyitvatartás és megközelítés</h2>
            <p>Hétköznapokon munka után, hétvégén pedig egész nap várunk! A pontos nyitvatartásról és asztalfoglalási lehetőségekről weboldalunkon és közösségi felületeinken tájékozódhatsz.
                A klub könnyen megközelíthető, akár autóval, akár tömegközlekedéssel érkezel. Ingyenes parkolás a közelben biztosított.</p>
        </div>
        <img src="opening.jpg" alt="">
    </div>
</div>
