.container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px){
    .container > div:nth-child(2n){
        align-self: flex-end;
        flex-direction: row-reverse;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .container > div:not(:nth-child(2n)){
        flex-direction: row;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .container > div:not(:nth-child(2n)) img{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .container > div:nth-child(2n) > img{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .content-container{
        max-width: 65vw;
    }

    .content-container img{
        width: 0.5vw;
        height: auto;
    }

    .content-container img{
        width: 300px;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}

@media (max-width: 900px){
    .content-container img{
        width: 30%;
        height: 30%;
        aspect-ratio: 16 / 9;
        margin: auto 0;
    }

    .container > div:nth-child(2n){
        flex-direction: row-reverse;
    }
}


.content-container{
    display: flex;
    background-color: #1A1A19;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.content-container > div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.content-container > div p{
    text-align: justify;
}
.content-container > div h2{
    text-align: center;
}

